:root {
  --sl-color-accent-low: #1a3a2a;
  --sl-color-accent: #22c55e;
  --sl-color-accent-high: #bbf7d0;
  --sl-color-white: #ffffff;
  --sl-color-gray-1: #eceef2;
  --sl-color-gray-2: #c0c2c7;
  --sl-color-gray-3: #888b96;
  --sl-color-gray-4: #545861;
  --sl-color-gray-5: #353841;
  --sl-color-gray-6: #24272f;
  --sl-color-black: #17181c;
}

:root[data-theme='light'] {
  --sl-color-accent-low: #d1fae5;
  --sl-color-accent: #16a34a;
  --sl-color-accent-high: #052e16;
  --sl-color-white: #17181c;
  --sl-color-gray-1: #24272f;
  --sl-color-gray-2: #353841;
  --sl-color-gray-3: #545861;
  --sl-color-gray-4: #888b96;
  --sl-color-gray-5: #c0c2c7;
  --sl-color-gray-6: #eceef2;
  --sl-color-black: #ffffff;
}
